{% extends "base.html" %}

{% load static %}


<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <h1>Welcome to the Educational Portal</h1>
    <p>This is a platform for learning and sharing knowledge.</p>

    {% block content %}
    <div class="container"  >

    
        <h2>Home Page</h2>
        <p>Explore our courses and resources.</p>
        
        {% if not user.is_authenticated %}
        <button class="btn btn-secondary"><a href="{% url 'signup' %}">Sign Up</a></button>
        <button class="btn btn-secondary"><a href="{% url 'login' %}">Login</a></button>
        {% endif %}

        {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>

        <button class="btn btn-secondary"><a href="{% url 'profile' %}">View Profile</a></button>
        <button class="btn btn-secondary"><a href="{% url 'logout' %}">Logout</a></button>
        <p>Manage your courses:</p>
        <button class="btn btn-secondary"><a href="{% url 'course_list' %}">All Courses</a></button>
        <button class="btn btn-secondary"><a href="{% url 'my_courses' %}">My Courses</a></button>
        <button class="btn btn-secondary"><a href="{% url 'student_grades' %}">My Grades</a></button>

   
        
        {% if user.is_teacher %}
        <p>As a teacher, you can:</p>
        <button class="btn btn-success"><a href="{% url 'create_course' %}">Create Course</a></button>
        <button class="btn btn-success"><a href="{% url 'created_courses' %}">View Created Courses</a></button>
        {% endif %}
        {% endif %}
        {% if user.is_admin %}
        <p>Admin Options:</p>
        <button class="btn btn-danger"><a href="{% url 'manage_users' %}">Manage Users</a></button>
        <button class="btn btn-danger"><a href="{% url 'admin_manage_courses' %}">Manage Courses</a></button>
        {% endif %}
    </div>
    {% endblock %}



</body>
</html>