{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Current profile</h1>
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="current-info mb-4">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>First Name: {{ user.first_name }}</p>

        <p>Last Name: {{ user.last_name }}</p>

        <p>Is Teacher: {{ user.is_teacher|yesno:"Yes,No" }}</p>
    </div>

    <h2>Edit Profile</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
{% endblock %}
